/* .App {
  text-align: center;
} */

/* LOG IN */
.log-in{
  text-align: center;
}

.log-in img {
  width: 40%;
  text-align: center;
}

.log-in form {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  width: 40%;
  text-align: center;
  padding-left: 30%;
}

.log-in form input {
  height: 40px;
}

.back-to-log-in {
  background-color: red;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr;
} 

.back-to-log-in p {
  font-weight: bolder;
  font-size: xx-large;
  text-align: center;
  vertical-align: center;
}
.back-to-log-in button {
  font-weight: bolder;
  font-size: xx-large;
  text-align: center;
  vertical-align: center;
  background-color: blueviolet;
}

/* Main Page */
.main-page header{
  height: 10vh;
}

.main-page header button {
  height: 10vh;
  width: 25%;
}

/* Fact */
.fact-box {
  text-align: center;
  height: 50vh;
  max-height: 60vh;
  margin-bottom: 20vh;
  background-color: aqua;
}

.fact-box p {
  font-size: 40px;
  height: 30vh;
  /* margin-top: 20vh; */
  padding-top: 20vh;
  /* background-color: bisque; */
}

.fact-box button {
  border-radius: 30px;
  width: 90%;
  height: 10vh;
  /* margin-top: 10vh; */
}

.fact-return {
  text-align: center;
}

.fact-return button {
  border-radius: 30px;
  width: 90%;
  height: 10vh;
  margin-bottom: 0;
}