/* .App {
  text-align: center;
} */

/* LOG IN */
.log-in{
  text-align: center;
}

.log-in img {
  width: 40%;
  text-align: center;
}

.log-in form {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  width: 40%;
  text-align: center;
  padding-left: 30%;
}

.log-in form input {
  height: 40px;
}

.back-to-log-in {
  background-color: red;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr;
} 

.back-to-log-in p {
  font-weight: bolder;
  font-size: xx-large;
  text-align: center;
  vertical-align: center;
}
.back-to-log-in button {
  font-weight: bolder;
  font-size: xx-large;
  text-align: center;
  vertical-align: center;
  background-color: blueviolet;
}

